@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

#form {
  width: 400px;
  margin: 15vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 15px;
}

#form h1{
  color: #0f2027;
  text-align: center;
  margin-bottom: 20px;
}

#form button {
  width: 30%;
  border: none;
  padding: 10px;
  color:white;
  display: block;
  border-radius: 4px;
  margin: 10px auto 0 auto;
  background-color: rgb(41, 57, 194);
}

.inputControl {
  display: flex;
  flex-direction: column;
}

.inputControl input {
  width: 100%;
  padding: 10px;
  display: block;
  font-size: 12px;
  margin-top: 2px;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.inputControl input:focus {
  outline: 0;
}

.inputControl.success input {
border-color: #09c372;
}

.inputControl.error input {
border-color: #ff3860;
}

.inputControl .error {
  height: 16px;
  font-size: 10px;
  color: #ff3860;
}